{% extends 'global/base.html' %}

{% block title %} Cadastrar Férias | {% endblock title %}

{% block content %}

<div class="form-container">
    <h2>{{ title|default:"Cadastrar Férias" }}</h2>

    <form method="POST" id="vacationForm">
        {% csrf_token %}

        <div class="form-content">  
            {% include 'partials/form_field.html' with field=form.employee label="Funcionário" %}
            {% include 'partials/form_field.html' with field=form.start_date label="Data de Início" %}
            {% include 'partials/form_field.html' with field=form.vacation_duration label="Duração das Férias (dias)" %}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-save">Salvar Férias</button>

            {% if form.instance.pk %}
                <a href="{% url 'rhcontrol:vacation_delete' pk=form.instance.pk %}" class="btn-delete">
                    <i class="fa fa-trash"></i> Excluir Férias
                </a>
            {% endif %}
        
        </div>
    </form>

    
</div>
{% endblock content %}