{% extends 'global/base.html' %}

{% block title %} Funcionários | {% endblock title %}

{% block content %}
<body>
<div class= "list-container">

    <div class= "page-header">
        <h1>Lista de Funcionários</h1>
        <a href="{% url 'rhcontrol:employee_create' %}"class="btn btn-primary">Adicionar Funcionário</a>
    </div>

    <div class="status-filters">
        <a href="{% url 'rhcontrol:employee_list' %}" class="{% if not request.GET.status %}active{% endif %}">Todos</a>
        <a href="{% url 'rhcontrol:employee_list' %}?status=active" class="{% if request.GET.status == 'active' %}active{% endif %}">Ativos</a>
        <a href="{% url 'rhcontrol:employee_list' %}?status=demitido" class="{% if request.GET.status == 'demitido' %}active{% endif %}">Demitidos</a>
    </div>

    <div class="filter-bar">
        <form method="GET" action= "{% url 'rhcontrol:employee_list' %}" style="width: 100%;">
            <input type="text" name="search" placeholder="Pesquisar por nome ou cargo" value="{{ request.GET.search }}">
            <input type="hidden" name="status" value="{{ request.GET.status|default_if_none:'' }}">
        </form>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th>Status</th>
                <th><a href="?sort=name&q={{ request.GET.search|default_if_none:''}}&start={{ request.GET.status|default_if_none:''}}"><span>Nome Completo</span></a></th>
                <th><a href="?sort=cpf&q={{ request.GET.q|default_if_none:'' }}&status={{ request.GET.status|default_if_none:'' }}"><span>CPF</span></a></th>
                <th><a href="?sort=department&q={{ request.GET.q|default_if_none:'' }}&status={{ request.GET.status|default_if_none:'' }}"><span>Setor</span></a></th>
                <th>E-mail</th>
                <th>Celular</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in object_list %}
            <tr>
                <td>
                    {% if employee.termination_date is None %}
                    <div class="status-cell">
                        <span class="status-dot status-active">Ativo</span>
                    </div>
                    {% else %}
                    <div class="status-cell">
                        <span class="status-dot status-inactive">Demitido</span>
                    </div>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'rhcontrol:employee_update' employee.id %}" style="display: flex; align-items: center; gap: 8px; text-decoration: none; color: inherit;">
        
                        {{ employee.name }}

                        {% if employee.cipa_status == 'active' %}
                            <i class="fa fa-shield-alt" style="color: #0d6efd;" title="Cipeiro Ativo (Estabilidade)"></i>
                        
                        {% elif employee.cipa_status == 'stability' %}
                            <i class="fa fa-shield-alt" style="color: #6c757d;" title="Estabilidade Pós-Mandato"></i>
                        {% endif %}

                    </a>
                </td>
                <td>{{ employee.cpf }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.email }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" style="text-align: center;" >Nenhum funcionário encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                


</body>

</html>
{% endblock content %}