{% extends 'global/base.html '%}

{% block title %} Login | {% endblock title %}

{% block header %}
{% endblock header %} 

{% block content %}
    <div class="login-container center">
        <h2>Login</h2>
    </div>

    <div class="login-container">
        <form action= "" method="POST">
            {% csrf_token %}
            <div class="form-content form-content-grid">
                {% for field in form %}
                    <div class="form-group">
                        <label for = "{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}

                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}

                        {{field.errors}}
                    </div> 
                {% endfor %}
            </div>
        </form>
    </div>


{% endblock content %}