{% extends 'reports/base_pdf.html' %}
{% load static %}

{% block title %}Termo de Confidencialidade - {{ employee.name }}{% endblock %}

{% block header_title %}Termo de Confidencialidade{% endblock %}

{% block style %}
    html, body {
        position: relative;
    }

    body {
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.85rem; 
        line-height: 1.5;
        padding-bottom: 2rem;
        color: #000;
    }

{% endblock %}

{% block content %}
    <div class="doc-title">TERMO DE CONFIDENCIALIDADE - PESSOA FÍSICA</div>

    <p class="legal-text">
        Pelo presente Termo, a <strong>{{ company_name_settings }}</strong>, inscrita sob o CNPJ:{{ company_cnpj }} estabelecida na cidade de {{ company_city }}, {{ company_state }} na {{company_address}} – CEP {{company_zip}}, bairro {{company_neighborhood}}, e colaborador <strong>{{ employee.name|upper }}</strong>, CPF <strong>{{ employee.cpf }}</strong>, Identidade nº <strong>{{ employee.rg }}</strong> expedida por SSP/SP, doravante denominados individualmente como PARTE, ou, em conjunto, como PARTES, se obrigam a manter o mais absoluto sigilo com relação a toda e qualquer informação a que tiverem acesso sobre os ativos de informação e dados pessoais que em função do exercício de minha atividade na {{company_name_settings}}, terei acesso. Para tanto, declara e se compromete nos seguintes aspectos:
    </p>

    <ol type="1" class="legal-list">
        <li>Não divulgar informações a mim confiadas em razão do exercício de minha função na empresa;</li>
        <li>Não levar peças para fora das dependências da empresa;</li>
        <li>Não levar etiquetas e ordens de serviços, seja elas originais ou cópias, para fora das dependências da empresa;</li>
        <li>Não levar ou divulgar fotos das peças dos clientes;</li>
        <li>Não levar desenhos para fora das dependências da empresa;</li>
        <li>Não efetuar nenhuma gravação ou cópia da documentação confidencial a que tiver acesso;</li>
        <li>Não comentar a terceiros sobre quaisquer assuntos que sejam pertinentes ao meu trabalho;</li>
        <li>Não comentar a terceiros sobre quaisquer clientes nos quais a empresa atende.</li>
    </ol>

    <div class="date-line">
        {{company_city}}, {% now "d" %} de {% now "F" %} de {% now "Y" %}.
    </div>

    <div class="signatures-block">
        <div class="signature-box">
            <div class="signature-line"></div>
            <div class="sig-name">{{ employee.name|upper }}</div>
            <div class="sig-role">COLABORADOR(A)</div>
        </div>

        <div class="signature-box">
            <div class="signature-line"></div>
            <div class="sig-name">{{company_name_settings}}</div>
        </div>
    </div>

{% endblock %}  