{% extends 'global/base.html' %}

{% block title %} Setores | {% endblock title %}

{% block content %}
{% include 'dashboard/pages/employee/components/_styles.html' %}
<body>
<div class= "list-container">

    <div class="page-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Lista de Setores</h1>
        
        <div style="display: flex; gap: 15px; align-items: center;">
            
            <div class="dropdown">
            <button type="button" class="btn-dropdown-trigger">
                <i class="fa fa-print"></i> Gerar Documento <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'rhcontrol:department_and_jobtitles_pdf' %}" target="_blank">
                    <i class="fa fa-id-text-o"></i> Setores e Cargos
                    <i class="fa fa-external-link" style="font-size: 0.75rem; margin-left: 3px;"></i>
                </a>
                <a href="{% url 'rhcontrol:employees_department_pdf' %}" target="_blank">
                    <i class="fa fa-id-text-o"></i> Funcionários por Setor
                    <i class="fa fa-external-link" style="font-size: 0.75rem; margin-left: 3px;"></i>
                </a>
            </div>
        </div>

            <a href="{% url 'rhcontrol:department_create' %}" class="btn btn-primary">Registrar Setor</a>
        </div>
    </div>

    <div class="status-filters">
        <a href="{% url 'rhcontrol:department_list' %}" class="{% if not request.GET.status %}active{% endif %}">Todos</a>
    </div>

    <div class="filter-bar">
        <form method="GET" action= "{% url 'rhcontrol:department_list' %}" style="width: 100%;">
            <input type="text" name="search" placeholder="Pesquisar por nome" value="{{ request.GET.search }}">
            <input type="hidden" name="status" value="{{ request.GET.status|default_if_none:'' }}">
        </form>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th><a href="?sort=department&q={{ request.GET.search|default_if_none:''}}&start={{ request.GET.status|default_if_none:''}}"><span>Nome do Setor</span></a></th>
                <th><a href="?sort=description&q={{ request.GET.search|default_if_none:''}}&start={{ request.GET.status|default_if_none:''}}"><span>Descrição</span></a></th>
            </tr>
        </thead>

        <tbody>
            {% for department in object_list %}
            <tr>
                <td><a href="{% url 'rhcontrol:department_update' pk=department.pk %}">{{department.name}}</td>
                <td>{{department.description}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" style="text-align: center;" >Nenhum setor registrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            
</body>

</html>

{% endblock content %}