<main class="main-content">
    <h1> Galvanoplastia Diadema Ltda. </h1>
    <div class="cards-container">
        <div class="card" onclick="location.href='{% url 'rhcontrol:employee_list' %}'">
            <h2 class="card-title">Funcionários Cadastrados</h2>
            <p class="card-number">{{ employees_count }}</p>
            <h4 class="desc">Funcionários que estão cadastrados atualmente</h4>
        </div>
        <div class="card" onclick="location.href='{% url 'rhcontrol:vacation_list' %}'">
            <h2 class="card-title">Férias Programadas</h2>
            <p class="card-number">{{ vacation_count }}</p>
            <h4 class="desc">Quantidade de férias programadas</h4>
        </div>
        <div class="card">
            <h2 class="card-title">Próximos Eventos</h2>
            <p class="card-number"> 0 </p>
            <h4 class="desc">Eventos agendados para o mês</h4>
        </div>
    </div>
</main>