<header class= "main-header-container">
    <div class="dashboard-header">                
        <h1><a  class = "main-logo" href="/">Dashboard</a></h1>
    </div>                
        <div class= "header-center">

            <div class = " menu ">
                <h2><i class="fa-solid fa-user-plus"></i>  Cadastros</h2>
                <div class="dropdown">
                    <a href= "{% url 'employee_list' %}"> Funcionários </a>
                    <a href= "{% url 'vacation_list'%}"> Férias </a>
                    <a href= "{% url 'training_list'%}"> Treinamentos </a>
                    <a> Setores </a>
                </div>
            </div>
            
            <h2> Administração</h2>
            <h2> Relatórios</h2>
            <form action="{% url 'logout' %}" method="POST"> 
                {% csrf_token %}
                <button class="plaintext-button" type="submit"> Logout </button>
            </form>
        </div>
</header>